<h2>HttpClient running in a service</h2>

<button (click)="getWeather()">Get the weather</button>
<br/>
Current weather: <br/>
Temp: {{currentWeather.temperature}}
Pressure: {{currentWeather.pressure}}
Humidity : {{currentWeather.humidity}}


//use ngModel to bind variables, then call a function from Submit button
<form (ngSubmit)="getWeatherByCity()">
  City: <input name="city" [(ngModel)]="city">
  Units: <input name="units" [(ngModel)]="units">
  <button type="submit">Submit</button>
</form>


